<html>
<head>
<title>anarchy proof - <%=h @title %></title>
<%= stylesheet_link_tag "site.css" %>
</head>

<body>
<%= yield %>
<p><%= link_to h("return top"), :controller => "problem", :action => "welcome" %></p>
</body>
</html>
