<h1>Anarchy Proof</h1>
<p> 
This is a proof server.
You can enjoy theorem proving here in several languages (one language).
</p>

<%= link_to h("The list of all problems"), :action => "index" %>
<br/>
<br/>
<%= link_to h("Create a new problems"), :action => "new" %>
<br/>

<h2>News</h2>
